# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
.venv/
venv/
.env
.env.local
.pytest_cache/
.mypy_cache/

# Django
*.sqlite3
staticfiles/
media/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
